.header {
  background: url('../../../front-end-dev-test-assets/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: fit-content;
  min-width: max-content;
  position: relative;
}

.heroLogo {
  text-align: center;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadein 2.5s;
}

.logoTextA {
  font-size: 4.5em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 2px white;
  letter-spacing: -1px;
}

.logoTextB {
  font-size: 4.5em;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}

.mainBtn {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color:#ac5fd1;
  border:none;
  color:white;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

.flippedBtn {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color:#ac5fd1;
  border:none;
  background-color:white;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

.rgLogo {
  height: 50px;
  width: auto;
  margin-top: 30px;
  margin-left: 100px;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}



